<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div id="chat" class="col-xs-12 col-sm-12 col-lg-3 col-md-3" th:fragment="chatArea">
        <h3 id="chatAreaUsername"></h3>
        <div id="receivedMessages"></div>

        <script>
            $(document).ready(function(){
                receiverId = -1;
                $('#messageBox').on('keypress', function(event){
                    if(event.keyCode == 13){
                        var content = $('#messageBox').val();
                        $.ajax({
                            type: 'POST',
                            url: '/messages/new',
                            data: {
                                receiver: receiverId,
                                content: content
                            },
                            success: function(){
                                $('#messageBox').val('');
                            }
                        });
                    }
                });
                var lastMessage = '';
                function updateMessages() {
                    if(receiverId != -1){
                        $.ajax({
                            type: 'POST',
                            url: '/messages',
                            data: { lastMessage: lastMessage, receiverId: receiverId },
                            success: function(data) {
                                data.forEach(function(item) {
                                    $('#receivedMessages').html($('#receivedMessages').html() + "<div>" +
                                        item.name + ": " + item.content + "</div>");
                                });
                                if(data.length != 0){
                                    lastMessage = data[data.length - 1].content;
                                }
                            }
                        });
                    }

                }

                setInterval(updateMessages, 2500);
            });

        </script>
    </div>

    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

    <!-- chat box script -->



</body>
</html>