<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="friendlist">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/friends-list.css}" />
    <h3>Friends List:</h3>
    <div id="friends-list"></div>
        <!-- <div th:onclick="'selectUserToChat(' + ${friend.id} + ', ' + '\'' + ${friend.username} + '\'' + ');'" th:text="${friend.username}"></div> -->
        <script>
                $.ajax({
                    type: 'GET',
                    url: '/friends',
                    success: function(data){
                        data.forEach(function(item){
                            //black magic
                            var divElement = "<div></div>";
                            $('#friends-list').append(divElement.substr(0, 4) + ' onclick="selectUserToChat(' + item.id + '\,' + ' \'' +
                                item.username + '\'' + ');" >' + item.username + divElement.substr(5, 10));
                        });
                    }
                });

                function selectUserToChat(id, username) {
                    receiverId = parseInt(id);
                    $('#chatAreaUsername').html(username);
                    $('#receivedMessages').html('');
                    $('#messageBox').attr("type", "text");
                }
        </script>
</div>

<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>



</body>
</html>