<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="friendlist">
    <h3>Friends List:</h3>
    <div class="friends_list" th:each="friend, iter : ${friends}">
        <div th:onclick="'selectUserToChat(' + ${friend.id} + ', ' + '\'' + ${friend.username} + '\'' + ');'" th:text="${friend.username}"></div>
        <script>
                function selectUserToChat(id, username) {
                    receiverId = parseInt(id);
                    $('#chatAreaUsername').html(username);
                    $('#receivedMessages').html('');
                }
        </script>
    </div>
</div>

<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>



</body>
</html>