.post {
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 16px;
    background: white;
    border-left: 1px solid #343637;
    border-right: 1px solid #343637;
    box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4);
}

.post_body {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    font-size: 1.3em;
}

main {
    background: rgb(241, 241, 241);
}

.username {
    font-size: 1.2em;
    font-weight: bold;
}

.comment_box {
    margin-top: 12px;
}

.comment_box > input[type="text"]{
    width: 70%;
}

.comment_box > input[type="submit"]{
    width: 25%;
}