<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SocialApp</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div style="padding-bottom: 23px;" th:each="post : ${posts}">
        <div th:text="${post.username}"></div>
        <div th:text="${post.content}"></div>
        <div th:each="comment : ${post.comments}">
            <div th:text="${comment.username}"></div>
            <div th:text="${comment.content}"></div>
        </div>
        <form action="/comments/new" method="post">
            <input type="hidden" name="originPostId" th:value="${post.id}" />
            <input type="text" name="content" />
            <input type="submit" value="Post Comment" />
        </form>
    </div>
</main>
</body>
</html>